<figure class="c-figure c-figure--banner">
  <img style="top:70%;" class="c-figure__image" src="{{bannerImage}}" alt="{{title}}">
  <div class="c-figure__content">
    <h3>{{title}}</h3>
    {{{excerpt}}}
    <a class="c-btn c-btn--medium c-btn--block" href="{{buttonLink}}" role="button">{{buttonText}}</a>
  </div>
</figure>