<div class="o-wrapper o-wrapper--wide o-grid">
  <div class="o-grid__row" id="homepage-banner">
    {{#each banners}}
    <div class="o-grid__box o-grid__box--full">
      {{#if bannerLink}}<a href="{{bannerLink}}"{{else}}<div{{/if}} class="c-figure c-figure--banner c-figure--big-banner c-figure--no-margin c-figure--full-width">{{#if bannerImage}}
        <img class="c-figure__image" src="{{bannerImage}}" alt="">{{/if}}
        <div class="c-figure__content c-figure__content--left c-figure__content--third">
          <h3>{{title}}</h3>
          {{{excerpt}}}{{#if buttonText}}
          <button class="c-btn c-btn--medium c-btn--block" role="button">{{buttonText}}</button>{{/if}}
        </div>
      {{#if bannerLink}}</a>{{else}}</div>{{/if}}
    </div>
    {{/each}}
  </div>
</div>